<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>{{ if .IsHome }}{{ .Title }}{{ else }}{{ printf "%s | %s" .Title .Site.Title }}{{ end }}</title>
{{ $description := .Description | default .Summary | default .Site.Params.description }}
{{ with $description }}
<meta name="description" content="{{ . | plainify | htmlUnescape | truncate 160 }}">
{{ end }}


<!-- <link rel="preconnect" href="https://fonts.googleapis.com"> -->
<!-- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
<!-- <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" -->
<!--   rel="stylesheet"> -->

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
  rel="stylesheet">

{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
