:root {
  --background-color: #eae7e1;
  --background-accent: #c4bcaf;
  --text-color: #201d1c;
  --text-highlight-color: #00000020;
  --link-underline-color: #201d1c40;
  --link-color: #004a8a;
}

@media (prefers-color-scheme: dark) {
  :root:not(.light) {
    --background-color: #0d1017;
    --background-accent: #2b2f37;
    --text-color: #e1ded9;
    --text-highlight-color: #ffffff20;
    --link-underline-color: #e1ded940;
    --link-color: #b4dcff;
  }
}

:root.dark {
  --background-color: #0d1017;
  --background-accent: #2b2f37;
  --text-color: #e1ded9;
  --text-highlight-color: #ffffff20;
  --link-underline-color: #e1ded940;
  --link-color: #b4dcff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 12pt;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--background-color);
  min-height: 100vh;
  transition: background-color 0.3s ease, color 0.3s ease;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 60rem;
  margin: 0 auto;
  padding: 2rem;
}

.theme-toggle {
  background: none;
  border: 0;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.theme-icon {
  font-size: 1.2rem;
}

main {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 2rem;
}
